@import "../variables.scss";

.links{
    display: inline-flex;
    justify-content: flex-end;
    width: 80vw;
}

:host{
    height: clamp(1em, 6vh, 6vh);
    background-color: $primary-color;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    position: sticky;
    top: 0px;
}

.app-name{
    width: 20vw;
    display: inline-block;
}

a{
    margin-right: 1em;
}