@import "../variables.scss";

#upvotes{
    background-color: #2679ff;
    width: 49%;
}

#downvotes{
    background-color: #f03547;
    width: 49%;
}

:host{

    width: clamp(40%, 90%, 50em);
    background-color: $primary-color;
    margin: 2em;
}

a {
    color: black;
    text-decoration: none;
}