@import "../variables.scss";

:host{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.vote-buttons{
    //width: 100%;
    display: flex;
    justify-content: space-between;
    button {
        margin-left: 0.5em;
        margin-right: 0.5em;
        font-size: 2em;
        color: buttontext;
        display: inline-block;
        text-align: center;
        align-items: flex-start;
        cursor: default;
        box-sizing: border-box;
        background-color: transparent;
        padding-block: 1px;
        padding-inline: 6px;
        border-width: 2px;
        border-style: none;
        border-color: buttonborder;
        border-image: initial;
    }
    .upvote-button i{
        color: $dark-upvote-color;
    }
    .downvote-button i{
        color: $dark-downvote-color;
    }
}

.idea-body{
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    width: 90%;
    background-color: $primary-color;
    margin: 1em;
    border-radius: 20px 20px 20px 20px;
    padding-top: 1em;
    padding-bottom: 0em;

}

h1 {
    margin: 0%;
    padding-left: 1rem;
    padding-right: 1rem;
    display: block;
    word-wrap: break-word;
    white-space: normal;

}

.idea-info{

    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.vote-bar{
    * {
        display: inline-flex;
        align-items: center;
        height: 1.5em;
        font-size: 1.3em;
        font-weight: bold;
    }
    .upvotes {
        border-bottom-left-radius: 20px;
        justify-content: end;
        div {
            padding-right: 1em;
        }
    }
    .downvotes {
        border-bottom-right-radius: 20px;
        div {
            padding-left:1em;
        }

    }
}

.upvotes{
    background-color: $upvote-color;
    //width: 50%;
}

.downvotes{
    background-color: $downvote-color;
    //width: 50%;
}

.delete-idea{
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 2em;
    color: buttontext;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: transparent;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: none;
    border-color: buttonborder;
    border-image: initial;

    color: $dark-downvote-color;
}

.comment-list{
    width: 80%;
    h1{
        margin: 0;
        padding: 0;
        padding-bottom: 1em;
    }
    border-radius: 1px;
    border: solid #000;
    border-width: 2px;
    border-color: black;
}