<div class="welcome">
    Welcome, {{auth.getUsername()}}
</div>
<div class="sorting-options">
    <button [class.selected]="currentSortingFunction === sortingCriteria.mostControversial" (click)="sortIdeas(sortingCriteria.mostControversial)">Most Controversial</button>
    <button [class.selected]="currentSortingFunction === sortingCriteria.mostPopular" (click)="sortIdeas(sortingCriteria.mostPopular)">Most Popular</button>
    <button [class.selected]="currentSortingFunction === sortingCriteria.mostUnpopular" (click)="sortIdeas(sortingCriteria.mostUnpopular)">Most Unpopular</button>
    <button [class.selected]="currentSortingFunction === sortingCriteria.mostRecent" (click)="sortIdeas(sortingCriteria.mostRecent)">Most Recent</button>
</div>

<div class="idea-list">
@if(ideas.length === 0){
    There are currently no ideas that can be displayed
}
@for(idea of currentPageIdeas; track idea.id){

    <app-idea-preview [idea]="idea"></app-idea-preview>

}
</div>

<a routerLink="/submit">Submit an idea <i class="bi bi-send-fill"></i></a>
<div class="page-selection">
    <button (click)="pageLeft()"><i class="bi bi-caret-left"></i></button>{{currentPage}}<button (click)="pageRight()"><i class="bi bi-caret-right"></i></button>
</div>

