@import "variables.scss";

.app-container{
    display: flex;
    justify-content: center;
    div {
        width: clamp(0px, 100vw, 50em);
        background-color: white;
    }
    background-color: $backround-color;
    flex-grow: 1;
}

.wide-app-container{
    display: flex;
    justify-content: center;
    div {
        @media (max-width: 80em){
            width: clamp(0px, 100vw, 40em);
        }
        @media (min-width: 80em){
            width: clamp(0px, 100vw, 80em);
        }

        background-color: white;
    }
    background-color: $backround-color;
    flex-grow: 1;
}

:host{
    min-height: 100%;
    display: flex;
    flex-direction: column; 
}


