<p class="welcome">Welcome to Hivemind!</p>
<p>Hivemind is a social media web-app where you can share your ideas with other users and find out what they think</p>
<p>You can view other people's ideas from the main feed, or submit your own!</p>
<p>Once an idea is submitted, other people can vote on it, and decide whether they agree with it or not</p>
<p>You can also comment on people's ideas.</p>
<p>If you want to spice up the look of your posts, try using <a href="https://www.markdownguide.org/">Markdown</a>!</p>
<p><a routerLink="/signup">Sign up now!</a></p>
